<template>
  <div class="reports-app">
    <serp-report
      :meta_title="meta_title"
      :meta_description="meta_description"
      :translations="translations"
      :url="url"
      :icon-warning="iconWarning"
    >
      <div slot="trans"><slot name="trans"></slot></div>
    </serp-report>
    <test-title-length
      :meta_title="meta_title"
      :translations="translations"
    >
    </test-title-length>
  </div>
</template>

<script>
      // <div slot="translations"><slot name="translations"></slot></div>
      // <div slot="icon-warning"><slot name="icon-warning"></slot></div>
import SerpReport from './SerpReport.vue'
import TestTitleLength from './TestTitleLength.vue'

export default {
  name: 'App',
  components: { SerpReport, TestTitleLength },
  props: [
    'meta_title', 'meta_description', 'translations', 'url', 'iconWarning'
  ],
}
</script>
