<script>
      // <div slot="translations"><slot name="translations"></slot></div>
      // <div slot="icon-warning"><slot name="icon-warning"></slot></div>
export default {
  // name: this.is,
  template () {
    console.log(this)
    return '#' + this.is
  },
}
</script>
