<template>
  <div class="serp-report">
    <div class="field-group">
      <label class="control-label">
        Google SERP Preview
        <slot name="translations"></slot>
      </label>
      <p class="text-muted" v-html="translations.serp.instructions"></p>
      <p class="help-block" v-if="!meta_description">
        <span class="text-warning">
          <span v-html="iconWarning"></span>
          {{ translations.serp.warning }}
        </span>
      </p>
      <div class="serp-wrapper">
        <div class="inner">
          <div class="g">
            <div class="rc">
              <h3 class="r">
                <a href="#" target="_blank">
                  {{ translations.meta_title.value }}
                </a>
              </h3>
              <div class="s">
                <div>
                  <div class="f kv _SWb" style="white-space:nowrap">
                    {{ url }}
                    <div class="action-menu ab_ctl">
                      <a class="_Fmb ab_button" href="#" id="am-b0"
                        aria-label="Result details" aria-expanded="false"
                        aria-haspopup="true" role="button"
                      >
                        <span class="mn-dwn-arw"></span>
                      </a>
                      <div class="action-menu-panel ab_dropdown" role="menu"
                        tabindex="-1"
                      ></div>
                    </div>
                  </div>
                  <span class="st">{{ translations.meta_description.value }}&nbsp;...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SerpReport',
  props: ['meta_title', 'meta_description', 'translations', 'url', 'iconWarning'],
}
</script>
