<template>
  <div class="test-title-length">
    <div class="field-group">
      <label class="control-label">
        Test Title Length
        <slot name="translations"></slot>
      </label>
      <p class="text-muted" v-html="translations.meta_title.instructions"></p>
      <p class="help-block" v-if="!meta_description">
        <span class="text-warning">
          <span v-html="iconWarning"></span>
          {{ translations.meta_title.warning }}
        </span>
      </p>
      <div class="test-wrapper">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TestTitleLength',
  props: ['meta_title', 'translations'],
}
</script>
