$grey: #909090;
$blue: #1a0dab;
$green: #006621;

.serp-wrapper {
    padding: 0 16px;
}

.g {
    line-height: 1.2;
    margin-bottom: 26px;
    margin-top: 0;
    text-align: left;
}

.rc {
    position: relative;

    .s {
        line-height: 18px;
        max-width: 48em;
    }
}

.r {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    margin: 0;

    a {
        color: $blue;

        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
}

h3 {
    .r {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.f {
    color: $green;
    font-size: 14px;

    .action-menu {
        display: inline-block;
        position: relative;

        a {
            color: $green;
        }

        .mn-dwn-arw {
            border-color: $green transparent;
            border-style: solid;
            border-width: 5px 4px 0;
            height: 0;
            left: 0;
            margin-left: 0;
            margin-top: -7px;
            position: absolute;
            top: 50%;
            width: 0;
        }
    }
}

.st {
    font-size: 13px;
    line-height: 1.4;
    word-wrap: break-word;
}
