$color-dark: #6A1B9A;

.title_separator-field {

    label.custom-radio {
        color: $color-dark;
        float: left;
        font-size: 1.7rem;
        height: 40px;
        line-height: 1.35;
        text-align: center;
        width: 40px;

        [type="radio"] {
            display: none;
        }

        [type="radio"] + span {
            border: 2px solid transparent;
            display: block;
            height: 40px;
            position: absolute;
            transition: border-color .4s ease-out;
            width: 40px;
        }

        [type="radio"]:checked + span {
            border-color: $color-dark;
        }
    }
}
