<div class="field-group">
  <label class="control-label">
    Google SERP Preview
    {% include "streams::form/partials/translations" %}
  </label>
  <p class="text-muted">{# {{ field_type.instructions|raw }} #}</p>
  <p class="help-block">
    {% if not form.fields.meta_description.value %}
      <span class="text-warning">
        {{ icon('warning') }}
        {{ trans('defr.module.seo_tool::field.serp.warning') }}Please input meta-description of the page.
      </span>
    {% endif %}
  </p>

</div>
