{{ asset_add('serp.css', 'defr.module.seo_tool::scss/serp.scss', ['scss']) }}
{{ asset_add('serp.js', 'defr.module.seo_tool::js/serp.js') }}

<div id="reports-app">
  <app
    :translations="{
      meta_title: {
        value: '{{ config_get('streams::distribution.name') }} &#8250; {{ trans(form.fields.meta_title.value)|default(trans(form.fields.title.value)) }}'
      },
      meta_description: {
        value: '{{ trans(form.fields.meta_description.value) }}'
      },
      serp: {
        instructions: '{{ trans('defr.module.seo_tool::field.serp.instructions') }}',
        warning: '{{ trans('defr.module.seo_tool::field.serp.warning') }}',
      }
    }"
    :url="'{{ url('admin/pages/view/' ~ form.entry) }}'"
    :meta_title="'{{ form.fields.meta_title.value }}'"
    :meta_description="'{{ form.fields.meta_description.value }}'"
    :icon-warning="'{{ icon('warning')|e }}'"
  >
    <div slot="trans">
      {% include 'streams::form/partials/translations'|e %}
    </div>
  </app>
</div>

{{ asset_style('serp.css') }}
{{ asset_script('serp.js') }}
